.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  .login__from {
    width: 300px;
  }
  .login__img {
    width: 260px;
    height: 100px; 
    margin-bottom: 10px;
  }
}

h3 {
  color: #fff;
}

.login__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__captcha {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login__captcha-img {
  position: absolute;
  right: 0;
}

div {
  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  form {
    padding: 10px 20px;
    background-color: #444653;
  }

  button {
    background-color: #0070ba;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 3px 10px;
  }
}